<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/estilos.css">
</head>
<body>
    <header>
        <img src="~/quickreview.png" />
        
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="foot">
            <label>
                Javier Gerardo Guzman Cortez #171G0576
            </label>
        </div>
    </footer>
</body>
</html>