@{
    Layout = "_LayoutCRUD";
}
<main>
    <div>
            <table class="table table-striped" id="tabla" name="tabla" width="600" border="2" cellspacing="3" cellpadding="3" style="font-size: 10pt">
                <tr>
                    <th colspan="2">Acceso denegado, necesitas autorizacion para ingresar</th>
                </tr>
                <tr>
                    <td>
                        <a href="~/Home/Logout">Salir de esta ventana</a>
                    </td>
                </tr>
            </table>
    </div>
</main>
